* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}
button:hover {
  cursor: pointer;
}
.home {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
/*
Navigation Bar
 */
.nav_container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
}
.title{
  line-height: 75px;
  text-align: center;
}
.btn_menu {
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}
/*
List Card
 */
.list_container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px 12px 24px;
}
.card {
  display: flex;
  flex-direction: row;
}
.card_info {
  max-width: 720px;
  border: black solid 1px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-right: 16px;
  padding: 8px 12px;
}
.finished {
  width: 16px;
}

@media(max-width: 480px) {
  .nav_container {
    padding: 0 0 0 24px;
  }
}