* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}
button {
  cursor: pointer;
}
button:active {
  transform: translateY(1px);
}
.home {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

/*
Navigation Bar
 */
.nav_container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
}
.title{
  line-height: 75px;
  text-align: center;
}

/*
Menu
 */
.btn_menu {
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
}
.menu_backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);

}
.menu-open {
  max-height: 100vh;
  overflow: hidden;
}
.menu-open .menu_backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.btn_menu-close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}
.add-task{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
}

/*
List Card
 */
.list_container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px 12px 24px;
}
.card {
  display: flex;
  flex-direction: row;
}
.card_info {
  max-width: 720px;
  border: black solid 1px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-right: 16px;
  padding: 8px 12px;
}
.finished {
  width: 16px;
}

/*
Media Queries
 */
@media(max-width: 480px) {
  .nav_container {
    padding: 0 0 0 24px;
  }
}