* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}
button:hover {
  cursor: pointer;
}
.nav_container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
}
.title{
  line-height: 75px;
  text-align: center;
}
.btn_menu {
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}